:root{
    --dark:#21252f;
}

body{
    font-family: 'M PLUS 1p', sans-serif;
    line-height: 1.7;
}

img{
    display: block;
}

p{
    margin: 0;

}

h1, h2, h3, h4, h5, h6{
    color: var(--dark);
    font-weight: 700;
}

a{
    color: var(--dark);
    text-decoration: none;
}

.btn{
    padding: 14px 18px;
    border-radius: 0;
    border-width: 2px;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;

}



.hero{
    background-image: url("img/cover.jpg") ;
    /* background-image: url("img/cover.jpg") ; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

.hero::after{
    position: absolute;
    content: "";
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(37, 39, 71,0.5);
    z-index: -1;
}


